*{
  font-family: "Roboto", sans-serif;
}

.suscribirse {
    /* Estilos para el botón de suscripción */
    background-color: #4BC3B5; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 8px; /* Radio de borde */
    content: "Suscribirse";
    width: 100%;
  }
  
  .desuscribirse {
    /* Estilos para el botón de desuscripción */
    background-color: #c43227; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 8px; /* Radio de borde */
    content: "Desuscribirse";
    width: 100%;
  }
  .desuscribirse::after {
    content: "Desuscribirse"; /* Agregar el texto deseado */
    /* Estilos adicionales para el texto */
  }
  .suscribirse::after {
    content: "Suscribirse"; /* Agregar el texto deseado */
    /* Estilos adicionales para el texto */
  }
.up{
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  margin-right: 3px;
  background-color: rgb(252, 252, 252);
  -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.43); 
box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.43);
}
.paypal{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  background-color: rgb(238, 235, 235);
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.paypal > div {
  flex-basis: 50%;
}
.contribucion_derecha{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
}
.inputBox {
  width: 100%;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
  margin-bottom: 1%;
  color: white;
  background-color: white;
}
.button{
  border: none;
  background: orange;
  color: white;
  width: 100%;
  height: 14%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 1%;
  padding: 2%;
}
.miembros_y_feedback{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2%;
  margin-top: 1%;
  background-color: #000A62;
  border-radius: 6px;
}
.miembros_y_feedback > div {
  flex-basis: 50%;
}
.miembros{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 6px;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.feedback{
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 6px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
}